openapi: 3.2.0
info:
  title: S2AG Datasets Release Data API
  version: '1.0'
  description: 'Download full-corpus datasets from the Semantic Scholar Academic Graph (S2AG)


    Some python demonstrating usage of the datasets API:


    r1 = requests.get(''https://api.semanticscholar.org/datasets/v1/release'').json()

    print(r1[-3:])

    [''2023-03-14'', ''2023-03-21'', ''2023-03-28'']


    r2 = requests.get(''https://api.semanticscholar.org/datasets/v1/release/latest'').json()

    print(r2[''release_id''])

    2023-03-28


    print(json.dumps(r2[''datasets''][0], indent=2))

    {

    "name": "abstracts",

    "description": "Paper abstract…'
servers:
- url: https://api.semanticscholar.org/datasets/v1
tags:
- name: Release Data
paths:
  /release/:
    get:
      summary: List of Available Releases
      operationId: get_releases
      tags:
      - Release Data
      description: Releases are identified by a date stamp such as "2023-08-01". Each release contains full data for each dataset.
      responses:
        '200':
          description: List of Available Releases
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Release ids in the form of date stamps
                  example: '2022-01-17'
  /release/{release_id}:
    get:
      summary: List of Datasets in a Release
      operationId: get_release
      tags:
      - Release Data
      description: Metadata describing a particular release, including a list of datasets available.
      responses:
        '200':
          description: Contents of the release with the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release%20Metadata'
  /release/{release_id}/dataset/{dataset_name}:
    get:
      summary: Download Links for a Dataset
      operationId: get_dataset
      tags:
      - Release Data
      description: 'Datasets are partitioned and stored on S3. Clients can retrieve them by requesting this list

        of pre-signed download urls and fetching all the partitions.'
      responses:
        '200':
          description: Description and download links for the given dataset within the given release
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset%20Metadata'
